#loginContainer {
  width: 80%;
  min-height: 400px ;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    border: $colorDefault1 1px solid;
    width: 40%;
    border-radius: 5px;
    box-shadow: 1px 2px 6px $titleColor;
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      min-height: 320px;
      input {
        width: 45%;
        border: 1px solid $borderColor;
        padding: 5px;
      }
    }


  }
}